{{ range .Site.Params.custom_js -}}
   <script src="{{ .  }}" />
   </script>
{{- end }}

<link rel="icon" href="/img/nichtderuwe.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" href="https://nichtderuwe.github.io/sitemap.xml" title="#NichtDer𝖀𝖂𝕰 - Informationsseite zu Uwe Thrum und seinen Verbindungen zu Extremisten und Reichsbuergern" />

<script defer type="text/javascript"  src="https://takeback-1-m5740961.deta.app/api/kit/ZH1YL6FXH58C4P6YFZAWQG" ></script>

{{ partial "schema.html" . }}


{{ template "_internal/opengraph.html" . }}

    <link rel="canonical" href="{{ .RelPermalink | absURL }}">


  {{ with .Site.Title }}<meta property="og:site_name" content="{{ . }}">{{ end }}
<!--  {{ with .Title }}<meta property="og:title" content="{{ . }}">{{ end }}                                -->
<!--  <meta property="og:description" content="{{ .Description | default .Site.Params.meta.description }}"> -->
<!--  <meta property="description" content="{{ .Description | default .Site.Params.meta.description }}">    -->
<!--  <meta property="og:url" content="{{ .RelPermalink | absURL }}">                                       -->
<!--  <meta property="og:type" content="{{ cond .IsHome "website" "article" }}">                            -->
  {{ with or (.Params.openGraph) (.Params.images) }}
    {{ range . }}
      <meta property="og:image" content="{{ .src | absURL }}">
      <meta property="og:image:alt" content="{{ .alt }}">
    {{ end }}
  {{ else }}
    <meta property="og:image" content="{{ .Site.Params.defaultimg | absURL }}">
  {{ end }}
  

