<center>

    <p>Built with <a href="https://nichtderuwe.github.io"><i class="fas fa-heart"></i></a> </p>

<hr>
<img src="https://visitorbadge-1-i6059121.deta.app/badge?page_id=nichtderuwe.github.io"  loading="lazy" alt="visitor badge"/>
<br>
<!-- Default Statcounter code for Nicht der Uwe
https://nichtderuwe.github.io -->
<!-- <script type="text/javascript">
var sc_project=12960685; 
var sc_invisible=0; 
var sc_security="549fd9f3"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript> -->
<div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12960685/0/549fd9f3/0/"
alt=" "  loading="lazy"
referrerPolicy="no-referrer-when-downgrade"></a></div>
<!-- </noscript> -->
<!-- End of Statcounter Code -->    
<!-- Start of CuterCounter Code -->
<a href="https://www.cutercounter.com/?id=hxpdodx" target="_blank"><img src="https://www.cutercounter.com/stats.php?id=hxpdodx&nd=6&style=26" border="0" alt="blog counter"  loading="lazy"></a>
<!-- End of CuterCounter Code -->
<br>

<a href="https://www.flagcounter.me/details/eqt"><img src="https://www.flagcounter.me/eqt/" alt="Flag Counter"  loading="lazy" ></a>
<br>
 <a href='https://www.free-counters.org/'>www.Free-Counters.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=2beab88b650c81477c3cf95aac6415261a1236d4'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1131404/t/2"></script>
<br>


</center>
<!-- Place this tag in your head or just before your close body tag. --> 
<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
<!-- <script  defer src="/scripts/buttons.js"></script> -->

