<center>
<pre>
    <p>Built with <a href="https://nichtderuwe.github.io"><i class="fas fa-heart"></i></a> <br>
        <img src="https://visitorbadge-1-i6059121.deta.app/badge?page_id=nichtderuwe.github.io"  loading="lazy" alt="visitor badge"/> 
<!-- Default Statcounter code for Nicht der Uwe
https://nichtderuwe.github.io -->
<!-- <script type="text/javascript">
var sc_project=12960685; 
var sc_invisible=0; 
var sc_security="549fd9f3"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript> -->
<div id="counterdiv">
<!-- <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12960685/0/549fd9f3/0/" alt=" "  loading="lazy" referrerPolicy="no-referrer-when-downgrade"></a></div> -->
<!-- </noscript> -->
<!-- End of Statcounter Code -->    
<!-- Start of CuterCounter Code -->
<a href="https://www.cutercounter.com/?id=hxpdodx" target="_blank"><img src="https://www.cutercounter.com/stats.php?id=hxpdodx&nd=6&style=26" border="0" alt="blog counter"  loading="lazy"></a>
<!-- End of CuterCounter Code -->
<br>
<a href="https://www.flagcounter.me/details/eqt" target="_blank" ><img src="https://www.flagcounter.me/eqt/"   alt="Flag Counter"   ></a>
<br>
<a href="https://worldflagcounter.com/details/iIO"><img src="https://worldflagcounter.com/iIO/" alt="Flag Counter" loading="lazy"   ></a>
<!-- <a title="free world map tracker" href="https://smallcounter.com/vmap/1710602389/" target="_blank" > -->
<img title="free world map counter" src="https://smallcounter.com/map/view.php?type=180&id=1710602389" border="1" alt="world map hits counter"  /></a><br>
<!-- <a href="https://smallcounter.com">map counter</a> -->
          
<!-- <a title="free world map tracker" href="https://smallcounter.com/vmap/1710602389/" target="_blank"> -->
<!-- <img alt="visitors by country counter" border="0" src="https://smallcounter.com/online/fcc.php?id=1710602389"></a><br> -->
<!-- <a href="https://smallcounter.com">map counter</a> -->


<!-- <span style="visibility:hidden" id="freevisitorcounterlink" ><a  style="visibility:hidden" href='https://www.free-counters.org/'>www.Free-Counters.org</a></span> -->
<!-- <span id="freevisitorcounterspan" ></span> -->
<script>
////console.log("asyncloader.def")
////async loader 
//class Script {
//    constructor(path, dependencyOrder) {
//        this.path = path;
//        this.dependencyOrder = dependencyOrder;
//    }
//}
//class ScriptLoader {
//    constructor() {
//        this.scripts = [];
//
//    }
//    addScript(script) {
//        //console.log("adding script")
//        const exists = this.scripts.find( s => s.path.toLowerCase() === script.path.toLowerCase());
//        if (!exists) {
//            this.scripts.push(script);
//        }
//    }
//    async loadScripts() {
//        if (Array.isArray(this.scripts)) {
//            const orderedScripts = this.orderScriptsByDependency();
//            let scriptsLoaded = false;
//            let counter = 0;
//            while (!scriptsLoaded) {
//                const _script = orderedScripts[counter]
//                await this.loadScript(_script, _script.dependencyOrder > -1);
//                counter += 1;
//                scriptsLoaded = counter === orderedScripts.length;
//            }
//        }
//    }
//    async loadScript(script, waitToLoad) {
//        return new Promise( (resolve, reject) => {
//            const scriptTag = document.createElement('script');
//            scriptTag.src = script.path;
//            if (waitToLoad) {
//                scriptTag.async = true;
//                document.body.appendChild(scriptTag);
//                scriptTag.onload = () => { resolve(); }
//            } else {
//                document.body.appendChild(scriptTag);
//                resolve();
//            }
//        } );
//    }
//    orderScriptsByDependency() {
//        if (Array.isArray(this.scripts)) {
//            return this.scripts.sort( (a, b) => {
//                return a.dependencyOrder - b.dependencyOrder;
//            });
//        }
//        return null;
//    }
//}
////end async loader def
//
//class IndexView {
//    constructor() {
//        //console.log("asyncloader.construct")
//        this.loader = new ScriptLoader();
//        this.init();
//    }
//    async init() {
//        //console.log("asyncloader.init")
//        this.loader.addScript(new Script('https://www.freevisitorcounters.com/auth.php?id=2beab88b650c81477c3cf95aac6415261a1236d4', 0));
//        //this.loader.addScript(new Script('https://www.freevisitorcounters.com/en/home/counter/1131404/t/2"', 1));
//        await this.loader.loadScripts();
//        document.getElementById("freevisitorcounterspan").innerHTML='<a href="https://www.freevisitorcounters.com/en/home/stats/id/1131404" target="_blank"><br><img src="https://www.freevisitorcounters.com/en/counter/render/1131404/t/2" border="0" loading="lazy" class="counterimg"></a>'
//    }
//}
//let user = new IndexView();
</script> 
</div>
</p>

</pre>

<!-- <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=2beab88b650c81477c3cf95aac6415261a1236d4'></script> -->
<!-- <script  type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1131404/t/2"></script> -->


</center>
<!-- Place this tag in your head or just before your close body tag. --> 
<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
<!-- <script  defer src="/scripts/buttons.js"></script> -->

